{% extends "base.html.twig" %}

{% block title %}Accompagnement{% endblock %}
{% block stylesheet %}
  <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-tale-seo-agency.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/carousel.css">
    <link rel="stylesheet" href="assets/css/newsletter.css">
    <link rel="stylesheet" href="assets/css/icon-social.css">
    <link rel="stylesheet" href="assets/css/404.css">
    <link rel="stylesheet" href="assets/css/accompagnement.css">
{% endblock %}

{% block scripts %}
  <!-- Scripts -->
  <!-- <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#116530"/></svg></div> -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  
  
  
  <script src="assets/js/popup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="assets/js/custom.js"></script>
  <!-- Dépendance pour la newsletter -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
  <script src="assets/js/newsletter.js"></script>
  <script>
    $(document).ready(function () {
        $(".section-styled").click(function () {
            $(this).children('.section-content').slideToggle();
        });
    });
  </script>
{% endblock %}


{% block menunav %}
  <li class="has-sub">
    <a href="?p=accueil">Accueil</a>
    <ul class="sub-menu">
      <li><a href="?p=accueil#services">Nos services</a></li>
      <li><a href="?p=accueil#diaporama">Diaporama</a></li>
      <li><a href="?p=accueil#actualites">Nos actualités</a></li>
    </ul>
  </li>
  <li class="has-sub">
    <a href="?p=qui-sommes-nous">Qui sommes-nous</a>
    <ul class="sub-menu">
      <li><a href="?p=qui-sommes-nous#missions">Nos missions & méthodes & valeurs</a></li>
      <li><a href="?p=qui-sommes-nous#equipe">Notre équipe</a></li>
      <li><a href="?p=qui-sommes-nous#conseil-administration">Le conseil d'administration</a></li>
      <li><a href="?p=qui-sommes-nous#partenaires-et-adhesion">Partenaires et adhésion</a></li>
      <li><a href="?p=qui-sommes-nous#rapports-activite">Rapports d'activité & status & comptes annuels</a></li>
    </ul>
  </li>
  <li class="has-sub">
    <a href="javascript:void(0)" class="active">Accompagnement</a>
    <ul class="sub-menu">
      <li><a class="scroll-to-section" href="#individuel">Individuel</a></li>
      <li><a class="scroll-to-section" href="#social">Social</a></li>
      <li><a class="scroll-to-section" href="#espace-numerique">Espace public numérique</a></li>
    </ul>
  </li>
  <li><a href="?p=orientation">Orientation</a></li>
  <li><a href="?p=biotiful">Biotiful</a></li>
  <li><a href="?p=offres-emploi">Offres d'emploi</a></li>
  <li><a href="?p=agenda">Agenda</a></li>
  <li><a href="?p=contact">Contact</a></li>
{% endblock %}

{% block interneLinkFooter %}
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=accueil">Accueil</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=qui-sommes-nous">Qui sommes nous ?</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=biotiful">Biotiful</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=offres-emploi">Offres Emploi</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=agenda">Agenda</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=orientation">Orientation</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="#">Accompagnement</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=contact">Contact</a></li>
{% endblock %}

{% block externeLinkFooter %}
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" target="_blank" href="?p=404-orientation">Mentions légales</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" target="_blank" href="http://mlsg.be/partenariats">Partenaires</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" target="_blank" href="?p=404-orientation">Presse</a></li>
{% endblock %}

{% block content %}
  <!-- **** Accompa Section **** -->

    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="mb-3 mt-5 fs-1 fw-bolder" data-aos="zoom-in-down">ACCOMPAGNEMENT VERS L’EMPLOI</h1>
            <p class="fs-4 fw-bolder text-primary" data-aos="fade-up">Nous sommes ici pour vous aider à naviguer dans votre parcours professionnel.</p>
            <hr class="my-4">
        </div>
    </div>
    <!-- About Start -->
    <div class="container-xxl py-5 category header-text mt-5" id="individuel">
      <div class="container py-5">
          <div class="row g-5 align-items-center">
              <div class="col-lg-6" data-aos="fade">
                  <div class="card" data-aos="zoom-in-up">
                    <img src="assets/images/accompagnement/dapdap.jpg" class="card-img" alt="Image 1">
                    <div class="card-img-overlay">
                      <a href="https://mlsg.be/accompagnement-vers-l-emploi.html" class="btn btn-info text-white">En savoir plus</a>
                    </div>
                  </div>
              </div>
              <div class="col-lg-6" data-aos="fade">
                 <h2 class="mb-4 text-secondary" data-aos="slide-left">Accompagnement individuel</h2>
                  <p class="mb-4 text-primary fs-4" data-aos="slide-left">Une aide sur mesure pour décrocher un emploi, entrer en formation, reprendre des études et déterminer votre projet professionnel. Des outils pour votre recherche d’emploi : CV, lettre de motivation, recherche d’offres et de formations, préparation aux entretiens d’embauche, etc.</p>
                  <div class="row g-3">
                      <div class="col-sm-6" data-aos="slide-left" data-aos-offset="100">
                          <h6 class="mb-3 text-secondary"><i class="fa fa-check text-info me-2"></i>Clair</h6>
                          <h6 class="mb-0 text-secondary"><i class="fa fa-check text-info me-2"></i>Personnel professionel</h6>
                      </div>
                      <div class="col-sm-6" data-aos="slide-left" data-aos-offset="120">
                          <h6 class="mb-3 text-secondary"><i class="fa fa-check text-info me-2"></i>A votre ecoute</h6>
                          <h6 class="mb-0 text-secondary text "><i class="fa fa-check text-info me-2"></i>Toujours disponible </h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="container-xxl category mt-5" id="social">
      <div class="text-center" data-aos="fade">
        <h2 class="mb-4 text-secondary" data-aos="slide-left">ACCOMPAGNEMENT SOCIAL</h2>
        <p class="fs-4 text-primary" data-aos="slide-left">Accompagnement spécifique sur RDV auprès d’un conseiller social sur des problématiques qui freinent votre recherche d’emploi et/ou de formation telles que l’endettement, le logement, la perte de revenus, la protection des droits sociaux, etc.</p>
      </div>
      <div class="container mt-5 mb-5">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card" data-aos="zoom-in-up">
              <img src="assets/images/accompagnement/4.jpg" class="card-img" alt="Image 1">
              <div class="card-img-overlay">
                <a href="https://mlsg.be/accompagnement-vers-l-emploi/accompagnement-social.html" class="btn btn-info text-white">Go</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card" data-aos="zoom-in-up">
              <img src="assets/images/accompagnement/2.jpg" class="card-img" alt="Image 2">
              <div class="card-img-overlay">
                <a href="https://mlsg.be/accompagnement-vers-l-emploi/accompagnement-social.html" class="btn btn-info text-white">Go</a> 
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card" data-aos="zoom-in-up">
              <img src="assets/images/accompagnement/3.jpg" class="card-img" alt="Image 2">
              <div class="card-img-overlay">
                <a href="https://mlsg.be/accompagnement-vers-l-emploi/accompagnement-social.html" class="btn btn-info text-white">Go</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card" data-aos="zoom-in-up">
              <img src="assets/images/accompagnement/1.jpg" class="card-img" alt="Image 2">
              <div class="card-img-overlay">
                <a href="https://mlsg.be/accompagnement-vers-l-emploi/accompagnement-social.html" class="btn btn-info text-white">Go</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="container">
        <div class="row">
            <div class="col-md-6 mt-lg-5 mt-sm-2">
                <div class="section-styled" style="cursor: pointer;" data-aos="slide-right">
                  <h2 class="section-title tooltip-custom" data-toggle="tooltip" title="Cliquez pour développer/replier">Comment pouvons-nous vous aider?</h2>
                  <div class="section-content" style="display: none;">
                      <p class="fw-bold fs-5 text-primary">Notre équipe est là pour vous aider à trouver des réponses à vos questions sur l'emploi, la formation et bien plus encore.</p>
                      <p class="fw-bold fs-5 text-primary">Que vous soyez à la recherche d'un emploi, d'une formation ou simplement de conseils sur votre carrière, nous sommes là pour vous aider.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-6 mt-lg-5">
                <div class="section-styled" style="cursor: pointer;" data-aos="slide-left">
                    <h2 class="section-title tooltip-custom" data-toggle="tooltip" title="Cliquez pour développer/replier">Comment fonctionne l'accompagnement?</h2>
                    <div class="section-content" style="display: none;">
                        <p class="fw-bold fs-5 text-primary">Notre équipe vous accompagnera tout au long de votre parcours professionnel, en vous aidant à trouver des solutions adaptées à vos besoins.</p>
                        <p class="fw-bold fs-5 text-primary">Nous vous aiderons à identifier vos objectifs professionnels, à trouver des opportunités d'emploi et de formation, et à développer les compétences dont vous avez besoin pour réussir.</p>
                    </div>
                </div>
            </div>
        </div>
          <div class="row">
            <div class="col-md-6">
                <div class="section-styled" style="cursor: pointer;" data-aos="slide-right">
                    <h2 class="section-title tooltip-custom" data-toggle="tooltip" title="Cliquez pour développer/replier">Quels sont les avantages de l'accompagnement?</h2>
                    <div class="section-content" style="display: none;">
                        <p class="fw-bold fs-5 text-primary">L'accompagnement vous permet de bénéficier de conseils personnalisés et de ressources adaptées à vos besoins.</p>
                        <p class="fw-bold fs-5 text-primary">Notre équipe vous aidera à identifier vos forces et vos faiblesses, à trouver des solutions à vos problèmes et à atteindre vos objectifs professionnels.</p>
                    </div>
                </div>
            </div>
              <div class="col-md-6">
                <div class="section-styled" style="cursor: pointer;" data-aos="slide-left">
                    <h2 class="section-title tooltip-custom" data-toggle="tooltip" title="Cliquez pour développer/replier">Comment puis-je bénéficier de l'accompagnement?</h2>
                    <div class="section-content" style="display: none;">
                        <p class="fw-bold fs-5 text-primary">Il vous suffit de prendre rendez-vous avec un membre de notre équipe pour discuter de vos besoins et de vos objectifs professionnels.</p>
                        <p class="fw-bold fs-5 text-primary">Nous vous aiderons à trouver des solutions adaptées à vos besoins et à mettre en place un plan d'action pour atteindre vos objectifs professionnels.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</div>
</div>
<div class="container-xxl py-5 category mt-5" id="espace-numerique">
  <div class="container">
    <div class="text-center" data-aos="fade">
      <h2 class="mb-4 text-secondary" data-aos="slide-left">ESPACE PUBLIC NUMÉRIQUE</h2>
      <p class="fs-4 text-primary" data-aos="slide-left">Mise à disposition d’un espace équipé pour votre recherche d’emploi et de formation. Sous la supervision d’un agent d’accueil, accès gratuit à 16 ordinateurs.</p>
    </div>
    <div class="row g-3">
      <div class="col-lg-4 col-md-6">
        <div class="row g-3">
          <div class="col-lg-12 col-md-12" data-aos="zoom-in">
            <a class="position-relative d-block overflow-hidden" href="https://mlsg.be/accompagnement-vers-l-emploi/espace-public-numerique.html">
              <img class="img-fluid" src="assets/images/accompagnement/technic.jpg" alt="">
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                <h5 class="m-0">Technicien</h5>
                <small class="text-primary">Devenez pro</small>
              </div>
            </a>
          </div>
          <div class="rounded-3 col-lg-6 col-md-12" data-aos="zoom-in">
            <a class="position-relative d-block overflow-hidden" href="https://mlsg.be/accompagnement-vers-l-emploi/espace-public-numerique.html">
              <img class="img-fluid" src="assets/images/accompagnement/web.jpg" alt="">
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                <h5 class="m-0">Social</h5>
                <small class="text-primary">Changez de vie</small>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12" data-aos="zoom-in">
            <a class="position-relative d-block overflow-hidden" href="https://mlsg.be/accompagnement-vers-l-emploi/espace-public-numerique.html">
              <img class="img-fluid" src="assets/images/accompagnement/code.jpg" alt="">
              <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                <h5 class="m-0">Code Dev</h5>
                <small class="text-primary">Apprentissage poussé</small>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 row-cols-8" data-aos="zoom-in">
        <a class="position-relative d-block h-100 overflow-hidden" href="https://mlsg.be/accompagnement-vers-l-emploi/espace-public-numerique.html">
          <img class="img-fluid position-absolute w-100 h-100" src="assets/images/accompagnement/social1.jpg" alt="" style="object-fit: cover;">
          <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
            <h5 class="m-0">Web Design</h5>
            <small class="text-primary">Formations</small>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
