{% extends "base.html.twig" %}

{% block title %}Orientations{% endblock %}
{% block stylesheet %}
    <!-- Fonts -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
    />
    
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/templatemo-tale-seo-agency.css">
    <link href="assets/css/orientation.css" rel="stylesheet" />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"/>
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <!-- Main CSS File --> 
    <!-- Dépendance pour la newsletter -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,500,600,700&amp;display=swap">
    <link rel="stylesheet" href="assets/css/newsletter.css">
    <link rel="stylesheet" href="assets/css/icon-social.css">
{% endblock %}

{% block scripts %}
  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Dépendance pour la newsletter -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
  <script src="assets/js/newsletter.js"></script>


  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="assets/js/custom.js"></script>
{% endblock %}


{% block menunav %}
  <li class="has-sub">
    <a href="?p=accueil">Accueil</a>
    <ul class="sub-menu">
      <li><a class="scroll-to-section" href="?p=accueil#services">Nos services</a></li>
      <li><a class="scroll-to-section" href="?p=accueil#diaporama">Diaporama</a></li>
      <li><a class="scroll-to-section" href="?p=accueil#actualites">Nos actualités</a></li>
    </ul>
  </li>
  <li class="has-sub">
    <a href="?p=qui-sommes-nous">Qui sommes-nous</a>
    <ul class="sub-menu">
      <li><a href="?p=qui-sommes-nous#missions">Nos missions & méthodes & valeurs</a></li>
      <li><a href="?p=qui-sommes-nous#equipe">Notre équipe</a></li>
      <li><a href="?p=qui-sommes-nous#conseil-administration">Le conseil d'administration</a></li>
      <li><a href="?p=qui-sommes-nous#partenaires-et-adhesion">Partenaires et adhésion</a></li>
      <li><a href="?p=qui-sommes-nous#rapports-activite">Rapports d'activité & status & comptes annuels</a></li>
    </ul>
  </li>
  <li class="has-sub">
    <a href="?p=accompagnement" class="">Accompagnement</a>
    <ul class="sub-menu">
      <li><a href="?p=accompagnement#individuel">Individuel</a></li>
      <li><a href="?p=accompagnement#social">Social</a></li>
      <li><a href="?p=accompagnement#espace-numerique">Espace public numérique</a></li>
    </ul>
  </li>
  <li><a href="#" class="active">Orientation</a></li>
  <li><a href="?p=biotiful">Biotiful</a></li>
  <li><a href="?p=offres-emploi">Offres d'emploi</a></li>
  <li><a href="?p=agenda">Agenda</a></li>
  <li><a href="?p=contact">Contact</a></li>
{% endblock %}

{% block interneLinkFooter %}
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=accueil">Accueil</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=qui-sommes-nous">Qui sommes nous ?</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=biotiful">Biotiful</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=offres-emploi">Offres Emploi</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=agenda">Agenda</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="#">Orientation</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=accompagnement">Accompagnement</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=contact">Contact</a></li>
{% endblock %}

{% block externeLinkFooter %}
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" target="_blank" href="?p=404-orientation">Mentions légales</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" target="_blank" href="http://mlsg.be/partenariats">Partenaires</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" target="_blank" href="?p=404-orientation">Presse</a></li>
{% endblock %}

{% block content %}
  <main>
                    <!-- Hero Section -->
                            <section class="hero header-text">
                              <div class="container">
                                <div class="row gy-4">
                                  <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                                    <h1>Orientations  professionnelles</h1>
                                    <p>voici une petite vidéo explicative  du déroulement</p>
                                    <div class="d-flex"><a href="#about" class="btn-get-started">Get Started</a>
                                      <a href="https://www.youtube.com/watch?v=DWoRSud2evE"
                                        class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                                </div>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                                <img src="assets/img/orion2.jpg" class="img-fluid animated" alt=""/>
                            </div>
                        </div>
                  </div>
            </section>
<!-- /Hero Section -->



                <!-- About Section -->
                <section id="our-staff">
                  <!-- Section Title -->
                  <div class="container section-title" data-aos="fade-up">
                    <h1>Apprenons à mieux nous connaître </h1>
                  </div>
                  <!-- End Section Title -->
                
                  <div class="container">
                    <div class="row gy-4">
                      <div class="col-lg-6 content"  data-aos="fade-up" data-aos-delay="100">
                        <p>
                          Notre équipe d'expert - composée de consultants en évaluation,
                            psychologues du travail et de professionnels des nouvelles technologies, 
                            présente partout dans le monde entier pour faciliter votre quotidien. 
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-circle"></i><span>Libérez tout le potentiel de vos talents</span></li>
                            <li><i class="bi bi-check2-circle"></i><span>Nos tests MOTIVA se basent sur l'évaluation de la motivation au travail</span></li>
                            <li><i class="bi bi-check2-circle"></i><span>Vous aider à développer la carrière de vos talents et leur bien-être professionnel. </span></li>
                      </ul>
                </div>

              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                                                    <p>
                                                    Nos solutions MOTIVA aident vos talents à définir leur projet professionnel, 
                                                    que ce soit dans un contexte d'orientation, de reconversion, de reclassement ou d'outplacement. 
                                                    Nos tests évaluent les motivations clés et les intérêts professionnels afin de trouver la voie qui correspond au mieux au profil de la personne.
                                                    </p>
                                                    <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                                                  </div>
                                                </div>
                                              </div>
                                  </section>
                                <!-- /About Section -->

                                <!-- Why Us Section -->
                                <section id="why-us" class="section why-us mt-0" data-builder="section">
                                  <div class="container-fluid">
                                    <div class="row gy-4">
                                      <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">
                                        <div  class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
                                          <h3><span>Outils de recrutement </span><strong>Tests d'aptitudes adaptatifs</strong></h3>
                                          <p>
                                          Cette nouvelle édition de la DAT (Tests Diﬀérentiels d’Aptitudes)
                                            5 épreuves en format adaptatif pouvant être utilisées de façon indépendante 
                                            ou combinée afin de constituer une batterie.
                                          </p>
                                        </div>

                                        <div class="faq-container px-xl-5" data-aos="fade-up" data-aos-delay="200">
                                          <div class="faq-item faq-active">
                                            <h3>
                                              <span>01</span> Outils de recrutement
                                            </h3>
                                            <div class="faq-content">
                                              <p>
                                              Votre candidat sera-t-il performant sur le poste sur lequel vous le projetez ? 
                                              Pourra-t-il évoluer ? Saura-t-il prendre les bonnes décisions ? 
                                              Ses valeurs et soft skills corresponderont-elles à celles attendues dans le poste ?
                                                Agira-t-il conformément à l’éthique de ma société ?

                                              Allez au-delà des informations contenues dans un CV ou de l'impression que vous a donnée le candidat. 
                                              Nos solutions d’évaluation fiables et éprouvées scientifiquement vous permettent d’obtenir la photographie 
                                              la plus nette possible du potentiel présent et futur d’un candidat.
                                              </p>
                                            </div>
                                            <i class="faq-toggle bi bi-chevron-right"></i>
                                          </div>
                                  <!-- End Faq item-->

                                  <div class="faq-item">
                                    <h3>
                                      <span>02</span> Recrutement standardisé
                                    </h3>
                                    <div class="faq-content">
                                      <p>
                                        Développez un processus reproductible 
                                        avec des critères objectifs d'évaluation des candidats  
                                        des critères de prise de décision.
                                      </p>
                                    </div>
                                    <i class="faq-toggle bi bi-chevron-right"></i>
                                  </div>
                                  <!-- End Faq item-->
                                  <div class="faq-item">
                                    <h3><span>03</span> Des insights sur vos candidats</h3>
                                          <div class="faq-content">
                                            <p>
                                            Développez un profil basé sur des données concernant les aptitudes,
                                              la personnalité et le potentiel futur de vos candidats pour le poste et l'entreprise.
                                            </p>
                                          </div>
                                          <i class="faq-toggle bi bi-chevron-right"></i>
                                        </div>
                                        <!-- End Faq item-->
                                  </div>
                          </div>

                    <div class="col-lg-5 order-1 order-xl-2 why-us-img">
                      <img src="assets/img/Psycho1-removebg-preview.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100"/>
                    </div>
                  </div>
                </div>
              </section>
              <!-- /Why Us Section -->

              <!-- Skills Section -->
              <section id="skills" class="skills ">
                <div class="container" data-aos="fade-up" data-aos-delay="100">
                  <div class="row">
                    <div class="col-lg-6 pt-3 pt-lg-0 content">
                      <img src="assets/img/fringe-removebg-preview.png" class="img-fluid" alt="" />
                    </div>
                  
                    <div class="col-lg-6 pt-4 pt-lg-0 content">
                      <h3>Test de personnalité</h3>
                      <p class="fst-italic">
                        On a un résumé de la personnalité des candidats pour pouvoir cerner rapidement et confirmer les réponses du test.
                      </p>
                    
                      <div class="skills-content skills-animation">
                        <div class="progress">
                          <span class="skill" ><span>Observation</span> <i class="val">100%</i></span>
                          <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <!-- End Skills Item -->

                      <div class="progress">
                        <span class="skill"><span>Concentration</span> <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                          <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    <!-- End Skills Item -->

                    <div class="progress">
                      <span class="skill"><span>Reflexion</span> <i class="val">75%</i></span>
                      <div class="progress-bar-wrap">
                        <div  class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  <!-- End Skills Item -->

                  <div class="progress">
                    <span class="skill"><span>Mémorisation</span> <i class="val">55%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <!-- End Skills Item -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /Skills Section -->
      
        <!-- Services Section -->
        <section id="services" class="services section mt-0">
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Test Psychotéchnique</h2>
            <p>
              Le test est un fil rouge 
            </p>
          </div>
          <!-- End Section Title -->
        
          <div class="container">
            <div class="row gy-4">
              <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                  <div class="icon"><i class="bi bi-activity icon"></i></div>
                  <h4>
                    <a href="service-details.html" class="stretched-link">Services</a>
                  </h4>
                  <p>
                    Voici un lien vers nos services consulting :
                    nous faisons une évaluation détaillé des capacité des
                    candidats
                  
                  </p>
                </div>
              </div>
              <!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200" >
                  <div class="service-item position-relative">
                    <div class="icon">
                      <i class="bi bi-bounding-box-circles icon"></i>
                    </div>
                    <h4>
                      <a href="service-details.html" class="stretched-link">Descriptifs des services</a>
                    </h4>
                    <p>
                      Analyse des besoins à chaque poste, disponibilités des candidats via 
                      des tests, une interview, puis une orientation
                    </p>
                  </div>
                </div>
                <!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300" >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-calendar4-week icon"></i>
                </div>
                <h4>
                  <a href="service-details.html" class="stretched-link" >Placement en entreprise</a>
                </h4>
                <p>
                  En fonction de la demande, les candidats sont placé en entreprise
                  un suivi est mis en place pour éviter l'isolement.
                  On suit le candidats pendant trois mois.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-broadcast icon"></i></div>
              <h4>
                <a href="service-details.html" class="stretched-link">Evaluation</a>
              </h4>
              <p>
                Au bout des trois mois, on viens faire le bilan avant de laisser 
                le candidat en autogestion, on cloture le dossier
              </p>
            </div>
          </div>
          <!-- End Service Item -->
        </div>
      </div>
    </section>
    <!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section">
      <img src="assets/img/cta-bg.jpg" alt="" />
    
      <div class="">
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-9 text-center text-xl-start">
            <h3>Signature du contract</h3>
            <p>
              Fin de l'évaluation, réunion avec le candidat, l'employeur, le consillé
              on écoute les deux partie, on établit un contract win win
              on passe en revue tous les points, le transport, la sécurité de l'emploie
              La période d'essaie, le contract proprement dit.
              Les conditions de rupture
              Le salaire
              Les primes
            </p>
          </div>
          <div class="col-xl-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /Call To Action Section -->



          <!-- Team Section -->
          <section id="team" class=" team">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
              <h2>Equipe</h2>
              <p>
                Voici l'organigramme de la mission local
              </p>
            </div>
            <!-- End Section Title -->
          
            <div class="container">
              <div class="row gy-4">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="team-member d-flex align-items-start">
                    <div class="pic">
                      <img
                        src="assets/img/team/team-1.jpg"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="member-info">
                      <h4>Walter White</h4>
                      <span>Chief Executive Officer</span>
                      <p>
                        la direction d'une organisation comme une entreprise, 
                        une asbl, une entité publique ou parapublique.
                      </p>
                      <div class="social">
                        <a href=""><i class="bi bi-twitter-x"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""> <i class="bi bi-linkedin"></i> </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Team Member -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="team-member d-flex align-items-start">
                <div class="pic">
                  <img
                    src="assets/img/team/team-2.jpg"
                    class="img-fluid" alt="" />
                </div>
                <div class="member-info">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <p>
                  développement de produits et/ou services digitaux 
                  les mises à jour régulières tels que des applications
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""> <i class="bi bi-linkedin"></i> </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Team Member -->

              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member d-flex align-items-start">
                  <div class="pic">
                    <img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""/>
                  </div>
                  <div class="member-info">
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <p>
                    charge de l’innovation technique et du déploiement de technologies adaptées au développement 
                      à l’efficacité des activités de l' entreprise.
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter-x"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""> <i class="bi bi-linkedin"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Team Member -->
            
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                  <div class="team-member d-flex align-items-start">
                    <div class="pic">
                      <img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""/>
                    </div>
                    <div class="member-info">
                      <h4>Amanda Jepson</h4>
                      <span>comptable</span>
                      <p>
                      services à votre disposition tout en garantissant une qualité sans compromis.
                      </p>
                      <div class="social">
                        <a href=""><i class="bi bi-twitter-x"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""> <i class="bi bi-linkedin"></i> </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Team Member -->
              </div>
            </div>
          </section>
          <!-- /Team Section -->

                        <!-- Pricing Section -->
                        <section id="pricing" class="pricing section mt-0">
                          <!-- Section Title -->
                          <div class="container section-title" data-aos="fade-up">
                            <h2>Formation</h2>
                            <p>
                              nous avons trois types  de formations adaptées pour les candidats débutants
                            Les  candidats autodigdacts, des candidacts qui ont besoin de temps
                            </p>
                          </div>
                          <!-- End Section Title -->
                        
                          <div class="container">
                            <div class="row gy-4">
                              <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                                <div class="pricing-item">
                                  <h3>Initiation</h3>
                                  <h4><sup></sup>2<span> / mois</span></h4>
                                  <ul>
                                    <li>
                                      <i class="bi bi-check"></i>
                                      <span>langage de base Html - Css</span>
                                    </li>
                                    <li>
                                      <i class="bi bi-check"></i>
                                      <span>langage Js</span>
                                    </li>
                                    <li>
                                      <i class="bi bi-check"></i>
                                      <span>langage PHP</span>
                                    </li>
                                    <li>
                                      <i class="bi bi-check"></i>
                                      <span>Algorhytmie</span>
                                    </li>
                                  </ul>
                                  <a href="#" class="buy-btn">inscrivez-vous</a>
                                </div>
                              </div>
                              <!-- End Pricing Item -->

                              <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                                <div class="pricing-item featured">
                                  <h3>Formation</h3>
                                  <h4><sup></sup>7<span> /mois</span></h4>
                                  <ul>
                                    <li>
                                      <i class="bi bi-check"></i>
                                      <span>langage de base Html - Css</span>
                                    </li>
                                    <li>
                                      <i class="bi bi-check"></i>
                                      <span>langage Js</span>
                                    </li>
                                    <li>
                                      <i class="bi bi-check"></i>
                                      <span>langage PHP</span>
                                    </li>
                                    <li>
                                      <i class="bi bi-check"></i>
                                      <span>Algorhytmie</span>
                                    </li>
                                  </ul>
                                  <a href="#" class="buy-btn">Inscrivez-vous</a>
                                </div>
                              </div>
                              <!-- End Pricing Item -->

                              <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                                <div class="pricing-item">
                                  <h3>Formation</h3>
                                  <h4><sup></sup>1<span> /an 4 mois</span></h4>
                                  <ul>
                                    <li>
                                      <i class="bi bi-check"></i>
                                      <span>langage de base Html - Css</span>
                                    </li>
                                    <li>
                                      <i class="bi bi-check"></i>
                                      <span>langage Js</span>
                                    </li>
                                    <li>
                                      <i class="bi bi-check"></i>
                                      <span>langage PHP</span>
                                    </li>
                                    <li>
                                      <i class="bi bi-check"></i>
                                      <span>Algorhytmie</span>
                                    </li>
                                  </ul>
                                  <a href="#" class="buy-btn">Inscivez-vous</a>
                                </div>
                              </div>
                              <!-- Fin formation -->
                            </div>
                          </div>
                        </section>
                        <!-- /Pricing Section -->

                    <!-- Testimonials Section -->
                    <section id="testimonials" class="testimonials">
                      <!-- Section Title -->
                      <div class="container section-title" data-aos="fade-up">
                        <h2>Temoignages</h2>
                        <p>
                          Quelques personnes passées par chez nous !
                        </p>
                      </div>
                      <!-- End Section Title -->
                    
                      <div class="container" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper">
                          <script type="application/json" class="swiper-config">
                            {
                              "loop": true,
                              "speed": 600,
                              "autoplay": {
                                "delay": 5000
                              },
                              "slidesPerView": "auto",
                              "pagination": {
                                "el": ".swiper-pagination",
                                "type": "bullets",
                                "clickable": true
                              }
                            }
                          </script>
                          <div class="swiper-wrapper">
                            <div class="swiper-slide">
                              <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt=""/>
                                <h3>Saul Goodman</h3>
                                <h4>Ceo &amp; Founder</h4>
                                <div class="stars">
                                  <i class="bi bi-star-fill"></i
                                  ><i class="bi bi-star-fill"></i
                                  ><i class="bi bi-star-fill"></i
                                  ><i class="bi bi-star-fill"></i
                                  ><i class="bi bi-star-fill"></i>
                                </div>
                                <p>
                                  <i class="bi bi-quote quote-icon-left"></i>
                                  <span
                                    >L'encadrement, le suivi de la mission local, le temps de comprendre 
                                    le fonctionement au quotidien, de realiser les besoins journaliers.
                                    recruter une équipe...
                                    "Merci pour tout!"</span
                                  >
                                  <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                              </div>
                            </div>
                            <!-- End testimonial item -->

                          <div class="swiper-slide">
                            <div class="testimonial-item">
                              <img
                                src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="" />
                              <h3>Sara Wilsson</h3>
                              <h4>Designer</h4>
                              <div class="stars">
                                <i class="bi bi-star-fill"></i
                                ><i class="bi bi-star-fill"></i
                                ><i class="bi bi-star-fill"></i
                                ><i class="bi bi-star-fill"></i
                                ><i class="bi bi-star-fill"></i>
                              </div>
                              <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span
                                  >On a pas le temps de chômer, on est mis dans le bain directement.
                                  On prend confience petit à petit.
                                  Les retours bon ou mauvais nous forgent.
                                  On s'adapte à l'enviroment de travail.
                                  On se sent à sa place.</span >
                                <i class="bi bi-quote quote-icon-right"></i>
                              </p>
                            </div>
                          </div>
                                                                                                      <!-- End testimonial item -->

                      <div class="swiper-slide">
                        <div class="testimonial-item">
                          <img
                            src="assets/img/testimonials/testimonials-3.jpg"
                            class="testimonial-img"
                            alt=""
                          />
                          <h3>Jena Karlis</h3>
                          <h4>Store Owner</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i>
                          </div>
                          <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            <span
                              >La mission local me fournit des cadidats polyvalants, compétant efficaces.
                              Le temps d'adaption est casi null, l'intégration au équipe en place est harmonieuse
                              Le retour des chef de projet est élocant:
                              "J' ai plus de temps pour le marketing, le suivi des projets, il n'y a plus de retard... </span>
                            <i class="bi bi-quote quote-icon-right"></i>
                          </p>
                        </div>
                      </div>
                      <!-- End testimonial item -->
                    
                      <div class="swiper-slide">
                        <div class="testimonial-item">
                          <img
                            src="assets/img/testimonials/testimonials-4.jpg"
                            class="testimonial-img"
                            alt=""
                          />
                          <h3>Matt Brandon</h3>
                          <h4>Freelancer</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i>
                          </div>
                          <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            <span
                              >Bonjour, je suis encore célibataire, pas d'attache, 
                              les salaires varient avec la situation géographique,
                              J'ai encore le choix de choisir, le status de Freelancer est idéal 
                              en se moment, j'ai moins de contrainte par rappoprt à mon agenda, je suis libre.
                              Le revers de la médaille est la situation administrative n'est pas idéal .</span>
                            <i class="bi bi-quote quote-icon-right"></i>
                          </p>
                        </div>
                      </div>
                      <!-- End testimonial item -->

                        <div class="swiper-slide">
                          <div class="testimonial-item">
                            <img
                              src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt=""/>
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <div class="stars">
                              <i class="bi bi-star-fill"></i
                              ><i class="bi bi-star-fill"></i
                              ><i class="bi bi-star-fill"></i
                              ><i class="bi bi-star-fill"></i
                              ><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                              <i class="bi bi-quote quote-icon-left"></i>
                              <span>à la création de mon entreprise,j'avais toutes les casquettes:
                                secrétaire, comptable,production, élaboration, réalisation, CEO.
                                au début c'est possible mais très vite il faut délègué
                                le secret de la réussite se situe là, prendre les bonnes 
                                décisions pour l'expension, les économie ou les dépenses, 
                                cette rigueure d'action est ce qui fait qu'on réussi ou on tourne en rond</span>
                              <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                          </div>
                        </div>
                        <!-- End testimonial item -->
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </section>
              <!-- /Temoignages Section -->

<!-- Faq 2 Section -->
              <section id="faq-2" class="faq-2 section mt-0">
                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                  <h2>Questions récurentes</h2>
                  <p>Comment ne plus souffrir du syndrome de l'imposteur.
                    Ce sentir à sa place et pleinement se sentir investi par ses compétences. 
                  </p>
                </div>
                <!-- End Section Title -->
              
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-10">
                      <div class="faq-container">
                        <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
                          <i class="faq-icon bi bi-question-circle"></i>
                          <h3>Quand sais t'on que la matière est maîtrisée ?</h3>
                          <div class="faq-content">
                            <p>
                              Pour maîtriser la matière, il faut être capable de pouvoir l'expliquer avec des mots simples
                              à un enfant de 8 ans.
                              C'est une question de vocabulaire, d'encyclopédie collective, tout le monde est capable de conduire une voiture 
                              une fois  qu'on a compris comment fonctionne une voiture.
                              un enfant de 8 ans a su comment arriver à l'hôpital avec son père qui à fait un infartus en conduisant la voiture de son père !
                            </p>
                          </div>
                          <i class="faq-toggle bi bi-chevron-right"></i>
                        </div>
                        <!-- End Faq item-->
                      
                        <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>
                          Comment naviguer dans la matère ?
                        </h3>
                        <div class="faq-content">
                          <p>
                            Une fois la stucture est comprise, il est facile de se déplacer dans la matière
                            de la résumer.
                          </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                      </div>
                      <!-- End Faq item-->
                    
                      <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>
                          Comment négocier son salaire, comment savoir se qui est compris & les bonus?
                        </h3>
                        <div class="faq-content">
                          <p>
                            Un barême exisste pour les employés débutant, on arrive vite à être déborder par le travail 
                            qu'on nous demande, on se retrouve souvent à faire le travail de deux personnes voir quatre
                            on dit facilement oui à tout pour bien se faire voir, six mois passe le salaire est toujour
                            le même, le piège s'installe...
                            Tout travail mérite salaire, il faut évaluer son travail à son juste prix
                          </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                      </div>
                      <!-- End Faq item-->

                <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
                  <i class="faq-icon bi bi-question-circle"></i>
                  <h3>
                    Je n'ai pas de diplôme, comment puis faire valoir mes compétences ?
                  </h3>
                  <div class="faq-content">
                    <p>
                      Un Portfolio remplit avec des projet fictif est une solution.
                      En le parcourant au moment de l'interview, le Portfolio est le fil rouge de la conversation.
                      la diversité des projets parleront d'eux-même.
                      Il faut se spécialiser dans un secteur, pour maîtriser les les demandes standartd.
                    </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
                <!-- End Faq item-->
              
                <div class="faq-item" data-aos="fade-up" data-aos-delay="600">
                  <i class="faq-icon bi bi-question-circle"></i>
                  <h3>
                    Est ce que mon domaine de compétence est en pénurie ?
                  </h3>
                  <div class="faq-content">
                    <p>
                      Pour répondre à cette question, il faut faire des recherches sur les offres d'emploie
                      les plus demandé, faire un profilage de l'employé idéal par rapport aux compétences requises.
                      De nouveaux métiers, on vu le jour,on est tellement en pénurie qu'il faut se former sur le tas 
                      avec des formations en 7 mois voir un an...
                    </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
                <!-- End Faq item-->
                          </div>
                        </div>
                      </div>
                    </div>                                                                      
                  </section>
                  <!-- /Faq2 Section -->
{% endblock %}
