{% extends 'template.html.twig' %}
{% block title %}{{ parent() }} | Suite{% endblock %}
{% block h1 %}Suite{% endblock %}
{% block liensHauts %}
    <li><a class="hover:text-gray-200 hover:underline px-4" href="./">Accueil</a></li>
    <li><a class="hover:text-gray-200 hover:underline px-4" href="?rub=suite">suite</a></li>
{% endblock %}
{% block h2 %}Nous voici sur une autre page {% endblock %}
{% block content %}<hr>
    {{ parent() }}
{%  block datas %}{{ parent() }}{{ response }}{% endblock %}
{% endblock %}