{% extends "base.html.twig" %}

{% block title %}Qui sommes nous ?{% endblock %}
{% block stylesheet %}
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/templatemo-tale-seo-agency.css">

    <!-- Template Stylesheet -->
    <link href="assets/css/service.css" rel="stylesheet">

    <!-- Dépendance pour la newsletter -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,500,600,700&amp;display=swap">
    <link rel="stylesheet" href="assets/css/newsletter.css">

    <link rel="stylesheet" href="assets/css/icon-social.css">
     <!--lien pour animate animated-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/custom-animated.css">
{% endblock %}

{% block scripts %}
  <!-- JavaScript Libraries -->
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Template Javascript -->
    <script>
      const dontloadquisommesnous = true;
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="assets/js/custom.js"></script>

    <!-- Dépendance pour la newsletter -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
    <script src="assets/js/newsletter.js"></script>
    <script src="assets/js/qui-sommes-nous.js"></script>
{% endblock %}


{% block menunav %}
  <li class="has-sub">
    <a href="?p=accueil">Accueil</a>
    <ul class="sub-menu">
      <li><a href="?p=accueil#services">Nos services</a></li>
      <li><a href="?p=accueil#diaporama">Diaporama</a></li>
      <li><a href="?p=accueil#actualites">Nos actualités</a></li>
    </ul>
  </li>
  <li class="has-sub">
    <a href="javascript:void(0)" class="active">Qui sommes-nous</a>
    <ul class="sub-menu">
      <li><a class="scroll-to-section" href="#missions">Nos missions & méthodes & valeurs</a></li>
      <li><a class="scroll-to-section" href="#equipe">Notre équipe</a></li>
      <li><a class="scroll-to-section" href="#conseil-administration">Le conseil d'administration</a></li>
      <li><a class="scroll-to-section" href="#partenaires-et-adhesion">Partenaires et adhésion</a></li>
      <li><a class="scroll-to-section" href="#rapports-activite">Rapports d'activité & status & comptes annuels</a></li>
    </ul>
  </li>
  <li class="has-sub">
    <a href="?p=accompagnement" class="">Accompagnement</a>
    <ul class="sub-menu">
      <li><a href="?p=accompagnement#individuel">Individuel</a></li>
      <li><a href="?p=accompagnement#social">Social</a></li>
      <li><a href="?p=accompagnement#espace-numerique">Espace public numérique</a></li>
    </ul>
  </li>
  <li><a href="?p=orientation">Orientation</a></li>
  <li><a href="?p=biotiful">Biotiful</a></li>
  <li><a href="?p=offres-emploi">Offres d'emploi</a></li>
  <li><a href="?p=agenda">Agenda</a></li>
  <li><a href="?p=contact">Contact</a></li>
{% endblock %}

{% block interneLinkFooter %}
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=accueil">Accueil</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="#">Qui sommes nous ?</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=biotiful">Biotiful</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=offres-emploi">Offres Emploi</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=agenda">Agenda</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=orientation">Orientation</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=accompagnement">Accompagnement</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" href="?p=contact">Contact</a></li>
{% endblock %}

{% block externeLinkFooter %}
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" target="_blank" href="?p=404-orientation">Mentions légales</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" target="_blank" href="http://mlsg.be/partenariats">Partenaires</a></li>
  <li><img src="assets/images/arrow-right.svg" class="arrow-link-img"><a class="text-primary" target="_blank" href="?p=404-orientation">Presse</a></li>
{% endblock %}

{% block content %}
    <div class="container-xxl service py-5 bg-light container-service mt-5">
        <div class="container">
            <div class="text-center mx-auto" style="max-width: 600px;">
                <h1 class="display-5 mb-5 text-primary fw-bolder">Présentation</h1>
            </div>
            <div class="row g-4" >
                <div class="col-lg-4">
                    <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                        <button  class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4 active" data-aos-offset="0" data-aos="slide-left"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i> Qui sommes nous ?</h5>
                        </button>
                        <button  class="missions nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-aos-offset="0" data-aos="slide-left"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Nos missions, notre méthode, nos valeurs</h5>
                        </button>
                        <button  class="equipe nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-aos-offset="0" data-aos="slide-left"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>L’équipe</h5>
                        </button>
                        <button  class="conseil-administration nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-aos-offset="0" data-aos="slide-left"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Le Conseil d’Administration depuis 2022</h5>
                        </button>
                        <button  class="partenaires-et-adhesion nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-aos-offset="0" data-aos="slide-left"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-5" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Partenaires et adhésions</h5>
                        </button>
                        <button  class="rapports-activite nav-link w-100 d-flex align-items-center text-start border p-4 mb-0" data-aos-offset="0" data-aos="slide-left"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-6" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Rapports d’activité</h5>
                        </button>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content w-100">
                        <div class="tab-pane active" id="tab-pane-1">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 550px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100" data-aos="slide-right" src="assets/images/service/pexels-shvetsa-4482900.jpg"
                                            style="object-fit: contain;" alt="">
                                    </div>
                                </div>
                                <div  class="col-md-6" data-aos="slide-right">
                                    <h2 class="mb-4 text-primary ">Qui sommes nous ?</h2>
                                    <h5 class="mb-1 text-secondary">Asbl d’insertion socioprofessionnelle , <h5 class=" mb-1 text-secondary">la Mission Locale pour l’emploi de Saint-Gilles est un opérateur agréé de </h5><h5 class=" mb-1 text-secondary">formation et d’accompagnement des demandeurs d’emploi,</h5> <h5 class=" mb-1 text-secondary">avec une attention particulière pour les</h5><h5 class=" mb-1 text-secondary">personnes les plus fragilisées.</h5>
                                    <a href="https://mlsg.be/presentation/qui-sommes-nous.html" class="btn btn-info text-white py-3 px-5 mt-3 ">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="tab-pane-2">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 550px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100 custom__animated custom__slideInRight" src="assets/images/service/pexels-matvalina-20279561.jpg"
                                            style="object-fit: contain;" alt="">
                                    </div>
                                </div>
                                <div  class="col-md-6 custom__animated custom__slideInRight">
                                    <h2 class="mb-4 text-primary">Nos missions, notre méthode, nos valeurs.</h2>
                                    <h5 class="mb-1 text-secondary">Nos missions sont définies par nos statuts.</h5><h5 class="mb-1 text-secondary">Notre méthode se base sur les recherches validées par les professionnels du secteur.</h5><h5 class="mb-1 text-secondary">Nos valeurs ont été établies par l’équipe des travailleurs de la MLSG et ont été adoptées par l’ASBL.</h5>
                                    <a href="https://mlsg.be/presentation/nos-missions-notre-methode-nos-valeurs.html" class="btn btn-info text-white py-3 px-5 mt-3 animate__animated animate__fadeInRightBig animate__slow">En savoir plus </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="tab-pane-3">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 550px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100 custom__animated custom__slideInRight" src="assets/images/service/pexels-mart-production-7550298.jpg"
                                            style="object-fit: contain;" alt="">
                                    </div>
                                </div>
                                <div  class="col-md-6 custom__animated custom__slideInRight">
                                    <h1 class="mb-4 text-primary ">L’équipe</h1>
                                    <h5 class="mb-1 text-secondary ">Présentation de l’équipe par pôle d’activité et fonctions principales et organigramme.</h5>
                                    <a href="https://mlsg.be/presentation/l-equipe.html" class="btn btn-info text-white py-3 px-5 mt-3 ">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="tab-pane-4">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 550px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100 custom__animated custom__slideInRight" src="assets/images/service/pexels-cottonbro-4098228.jpg"
                                            style="object-fit: contain;" alt="">
                                    </div>
                                </div>
                                <div  class="col-md-6 custom__animated custom__slideInRight">
                                    <h1 class="mb-4 text-primary ">Le Conseil d’Administration depuis 2022</h1>
                                    <h5 class="mb-1 text-secondary ">Composition du Conseil d’Administration</h5>
                                    <a href="https://mlsg.be/presentation/le-conseil-d-administration.html" class="btn btn-info text-white py-3 px-5 mt-3">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="tab-pane-5">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 550px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100 custom__animated custom__slideInRight" src="assets/images/service/pexels-tiger-lily-7109289.jpg"
                                            style="object-fit: contain;" alt="">
                                    </div>
                                </div>
                                <div  class="col-md-6 custom__animated custom__slideInRight">
                                    <h1 class="mb-4 text-primary ">Partenaires et adhésions</h1>
                                    <h5 class="mb-1 text-secondary ">Pouvoirs subsidiant et "membership" de la MLSG</h5>
                                    <a href="https://mlsg.be/presentation/partenaires-et-adhesions.html" class="btn btn-info text-white py-3 px-5 mt-3 ">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane " id="tab-pane-6">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 550px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute rounded w-100 h-100 custom__animated custom__slideInRight" src="assets/images/service/pexels-shkrabaanthony-4990536.jpg"
                                            style="object-fit: contain;" alt="">
                                    </div>
                                </div>
                                <div  class="col-md-6 custom__animated custom__slideInRight">
                                    <h1 class="mb-4 text-primary ">Rapports d’activité</h1>
                                    <h5 class="mb-1 text-secondary ">Les rapports moraux sont une synthèse de nos activités et projets. Ils sont approuvés chaque année par l’Assemblée Générale de l’ASBL. Les anciennes versions peuvent être envoyées sur demande</h5>
                                    <a href="https://mlsg.be/presentation/rapports-d-activite/" class="btn btn-info text-white py-3 px-5 mt-3 ">En savoir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
